<div
  class="border-2 w-60 h-80 cursor-pointer overflow-hidden transition-transform transform hover:scale-105 shadow-2xl"
  *ngIf="item"
>
  <div class="w-full h-1/2">
    <img [src]="src" class="object-cover w-full h-full" alt="image" />
  </div>
  <div class="p-4">
    <h1 class="text-xl font-semibold mb-2 hover:underline hover:text-red-700">
      {{ item.title }}
    </h1>
    <h2 class="text-gray-600 mb-1 text-sm">
      {{ item.description | truncate : 3 }}
    </h2>

    <div class="flex justify-between items-center">
      <h3 class="text-sm font-semibold text-gray-600">À partir de</h3>
      <h3 class="text-lg font-semibold text-orange-500" *ngIf="item.dimensions">
        {{ item.dimensions[0].price | customCurrency }}
      </h3>
    </div>
  </div>
</div>
