<div
  class="border-2 w-60 h-80 cursor-pointer overflow-hidden transition-transform transform hover:scale-105 shadow-2xl"
>
  <div class="w-full h-1/2">
    <img
      src="{{ item.image }}"
      class="object-cover w-full h-full"
      alt="image"
    />
  </div>
  <div class="p-4">
    <h1 class="text-xl font-semibold mb-2 hover:underline hover:text-red-700">
      {{ item.title }}
    </h1>
    <h2 class="text-gray-600 mb-1 text-sm">{{ item.subTitle }}</h2>
    <h2 class="text-gray-600 mb-2 text-sm">
      Dimensions: {{ item.height }}*{{ item.width }} cm²
    </h2>
    <div class="flex justify-between items-center">
      <h3 class="text-lg font-semibold text-orange-500">{{ item.price }} DT</h3>
      <a
        class="bg-orange-500 hover:bg-orange-600 text-white py-2 px-4 rounded-full transition-colors duration-300"
        ><i class="fa-solid fa-cart-plus"></i
      ></a>
    </div>
  </div>
</div>
