<div class="min-h-screen w-full" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div
  class="container mx-auto mt-24 p-6 grid grid-cols-1 lg:grid-cols-2 gap-8 w-full"
  *ngIf="!isLoading"
>
  <div class="grid-cols-1 lg:h-full lg:w-full">
    <div
      class="lg:col-span-1 relative lg:h-[580px] lg:w-full aspect-w-1 aspect-h-1 overflow-hidden rounded-lg shadow-xl"
    >
      <img
        [src]="currentImage"
        alt="Product Image"
        class="w-full h-full object-contain transform scale-100 transition-transform duration-300 ease-in-out hover:scale-110 cursor-zoom-in"
        id="mainImage"
      />
    </div>
    <div class="mt-8 grid grid-cols-4 gap-4">
      <!-- Small product images -->
      <div
        class="w-full h-24 overflow-hidden rounded-lg shadow-md cursor-pointer"
        (click)="changeImage(i)"
        *ngFor="let imageSrc of images; let i = index"
      >
        <img
          [src]="imageSrc"
          alt="Product Image 1"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <div
    class="lg:col-span-1 p-6 rounded-lg shadow-xl border border-gray-300"
    *ngIf="item"
  >
    <h1 class="text-4xl font-semibold text-gray-800">{{ item.title }}</h1>
    <p class="text-gray-600 text-lg mt-2">
      {{ item.description }}
    </p>
    <h2 class="text-2xl font-semibold text-gray-800 mt-4 mb-2">Dimensions</h2>
    <p class="text-gray-600 text-lg mt-2">
      {{ item.height }} * {{ item.width }} cm²
    </p>

    <h2 class="text-2xl font-semibold text-gray-800 mt-4 mb-2" *ngIf="colors">
      Couleurs
    </h2>
    <div class="flex gap-4 flex-wrap">
      <button
        class="w-20 h-20 rounded-lg ring-1 ring-black"
        *ngFor="let color of colors"
        [ngClass]="{ 'border-2 border-blue-500': selectedColor === color.name }"
        (click)="selectColor(color.name)"
        [title]="color.name"
      >
        <img
          [src]="colorImages[color.id]"
          [alt]="color.name"
          class="w-full h-full rounded-lg"
        />
      </button>
    </div>
    <p class="text-2xl font-semibold text-gray-800 mt-4 mb-2">Prix Unitaire</p>
    <p class="text-orange-600 font-bold text-2xl mt-2">
      {{ item.price | currency : "TND" }}
    </p>

    <div class="flex items-center mt-4">
      <input
        type="number"
        class="w-20 lg:w-24 h-16 border border-gray-400 rounded-md px-2 text-center text-gray-800 text-lg font-bold"
        min="1"
        [(ngModel)]="quantity"
      />

      <button
        class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-4 px-6 rounded-full w-96 shadow-md transition-transform duration-300 ease-in-out transform hover:scale-105 focus:outline-none ml-5"
        (click)="addToCart()"
      >
        <i class="fa-solid fa-cart-plus"></i>&nbsp; Ajouter au panier
      </button>
    </div>
  </div>
</div>
