<div class="h-screen flex flex-col items-center justify-center">
  <h1 class="text-blue-dark text-4xl font-bold mb-6">Espace Admin</h1>
  <ul
    class="flex flex-col space-y-2 md:flex-row md:space-x-4 md:space-y-0 text-blue-dark"
  >
    <li class="mb-2 md:mb-0">
      <a
        [routerLink]="['items']"
        class="inline-block py-3 px-6 text-lg font-semibold rounded-full transition transform duration-300 ease-in-out bg-gradient-to-r from-yellow-400 to-pink-500 hover:from-pink-500 hover:to-yellow-400 hover:scale-105 hover:text-white hover:underline;"
        >Articles</a
      >
    </li>
    <li class="mb-2 md:mb-0">
      <a
        [routerLink]="['colors']"
        class="inline-block py-3 px-6 text-lg font-semibold rounded-full transition transform duration-300 ease-in-out bg-gradient-to-r from-yellow-400 to-pink-500 hover:from-pink-500 hover:to-yellow-400 hover:scale-105 hover:text-white hover:underline;"
        >Couleurs</a
      >
    </li>
    <li class="mb-2 md:mb-0">
      <a
        [routerLink]="['orders']"
        class="inline-block py-3 px-6 text-lg font-semibold rounded-full transition transform duration-300 ease-in-out bg-gradient-to-r from-yellow-400 to-pink-500 hover:from-pink-500 hover:to-yellow-400 hover:scale-105 hover:text-white hover:underline;"
        >Commandes</a
      >
    </li>
  </ul>
  <button
    (click)="logout()"
    class="inline-block py-3 px-6 text-lg mt-10 font-semibold rounded-full transition transform duration-300 ease-in-out bg-gradient-to-r from-yellow-400 to-pink-500 hover:from-pink-500 hover:to-yellow-400 hover:scale-105 hover:text-white hover:underline;"
  >
    Déconnecter
  </button>
</div>
